<div *ngIf="isLoading; else notLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<ng-template #notLoading>

    <div class="login-container">
        <mat-card class="center-content">
            <app-logo [isLink]="false"></app-logo>
            <form (ngSubmit)="login()" [formGroup]="form">
                <mat-form-field class="form-group">
                    <mat-label for="username">Username</mat-label>
                    <input matInput type="text" id="username" name="username"
                        formControlName="username">
                </mat-form-field>
                <mat-form-field class="form-group">
                    <mat-label for="password">Password</mat-label>
                    <input matInput type="password" id="password"
                        name="password"
                        formControlName="password">
                </mat-form-field>
                <div>
                    <button mat-button type="submit" [disabled]="form.invalid">Login</button>
                </div>
                <div class="error-message" *ngIf="error">{{error}}</div>
            </form>
        </mat-card>
    </div>

</ng-template>