<mat-toolbar>
    <mat-toolbar-row>
        <div>
            <button mat-button (click)="onNavigateBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
        <div>
            Categories
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Show a add category as float action button -->
<div class="fab-container">
    <button mat-fab color="primary"
        (click)="onCreateNewCategory()"><mat-icon>add</mat-icon></button>
</div>

<!-- Show inventory -->
<div *ngIf="isLoading; else notLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<ng-template #notLoading>
    <div *ngFor="let category of categories">
        <app-category-in-list [category]="category"></app-category-in-list>
    </div>
</ng-template>