<mat-toolbar>
    <mat-toolbar-row>
        <app-go-back></app-go-back>
        <div>
            Categories
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Show add category as float action button -->
<div class="fab-container">
    <button mat-fab color="primary"
        aria-label="Create category"
        matTooltip="Create category"
        (click)="onCreateNewCategory()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<!-- Show categories -->
<div class="card-list-container" *ngIf="!isLoading; else loadingSpinner">
    <div *ngFor="let category of categories">
        <app-category-in-list [category]="category"></app-category-in-list>
    </div>
</div>

<!-- Loading spinner -->
<ng-template #loadingSpinner>
    <app-loading-spinner></app-loading-spinner>
</ng-template>

<div>
</div>
