// This file contains the styling of the card components, e.g. showing the content of an item
.card-container {
    margin: 0.5rem;
}

.card-details {
    padding: 1rem;
    width: 100%;
}

.material-card-title {
    margin: 1rem 1rem 2rem 1rem !important;
    font-weight: bolder;
}

.card-details mat-form-field {
    width: 100%;
}

// Full screen
@media screen and (min-width: 768px) {

    // Limit the size of the cards to not be too wide
    .card-details {
        max-width: 60rem;
    }

    // Make bigger borders to not look so compact
    .card-container {
        margin: 1rem;
    }
    

}