<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button (click)="onNavigateBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="isLoading; else notLoading">
    <app-loading-spinner></app-loading-spinner>
</div>

<ng-template #notLoading>

    <div class="center-card" *ngIf="item; else notFound">
        <mat-card align="center" class="card">
            <!-- Header -->
            <mat-card-header>
                <mat-card-title>
                    {{ item.name }}
                </mat-card-title>

                <mat-card-subtitle>
                    {{item.category.name}}
                </mat-card-subtitle>

                <div mat-card-avatar [style.background-color]="getAvatarColor()"></div>

            </mat-card-header>

            <!-- Content -->
            <mat-card-content>
                <p>{{ item.description }}</p>
                <div class="item-metadata">
                    <p>Number of items: {{ item.number }}</p>
                    <p>Last Updated: {{ item.updatedOn | date:'medium' }}</p>
                    <p>Created On: {{ item.createdOn | date:'medium' }}</p>
                </div>
            </mat-card-content>

            <!-- Action buttons -->
            <mat-card-actions align="end">

                <button mat-icon-button aria-label="Edit item"
                    (click)="onEditItem()">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button aria-label="Delete item" (click)="onDeleteItem()">
                    <mat-icon>delete</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>
    </div>

    <ng-template #notFound>
        <div class="center-card">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>
                        Item not found
                    </mat-card-title>
                    <mat-icon mat-card-avatar>error</mat-icon>
                </mat-card-header>
                <mat-card-content>
                    <p>The requested item could not be found.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-template>

</ng-template>