<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button (click)="onNavigateBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="isLoading; else notLoading">
    <app-loading-spinner></app-loading-spinner>
</div>

<ng-template #notLoading>

    <div class="flex-center card-wrapper" *ngIf="item; else notFound">
        <mat-card class="material-card-element">
            <!-- Header -->
            <mat-card-header>
                <mat-card-title>
                    {{ item.name }}
                </mat-card-title>

                <mat-card-subtitle>
                    {{item.category.name}}
                </mat-card-subtitle>

                <div mat-card-avatar [style.background-color]="getAvatarColor()"></div>

            </mat-card-header>

            <!-- Content -->
            <mat-card-content>

                <!-- Image -->
                <div class="item-image-container thin-border"
                    *ngIf="item.imagePath">
                    <img [attr.src]="item.imagePath | secureImage | async"
                        class="item-image"
                        alt="item-image">
                </div>
                
                <!-- Description -->
                <p class="item-description no-overflow" *ngIf="item.description">
                    {{ item.description }}
                </p>

                <!-- Metadata -->
                <div class="item-image-container thin-border">
                    <p>Number of items: {{ item.number }}</p>
                    <p>Last Updated: {{ item.updatedOn | date:'medium' }}</p>
                    <p>Created On: {{ item.createdOn | date:'medium' }}</p>
                </div>
            </mat-card-content>

            <!-- Action buttons -->
            <mat-card-actions align="end">

                <button mat-icon-button aria-label="Edit item"
                    (click)="onEditItem()">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button aria-label="Delete item"
                    (click)="onDeleteItem()">
                    <mat-icon>delete</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>
    </div>

    <ng-template #notFound>
        <app-error-card [title]="'Item not found'" [icon]="'error'"
            [content]="'The requested item could not be found'"></app-error-card>
    </ng-template>

</ng-template>