.card {
    margin: 1rem;
    max-width: 70rem;
}

.center-card {
    display: flex;
    align-self: center;
    justify-content: center;
}

.item-metadata {
    padding: 10px;
    border: 1px solid #ccc;
}

.no-overflow {
    word-wrap: break-word;
}

.item-image-container {
    max-width: 60rem;
}

.item-image {
    width: 100%;
    height: auto;
}

.item-description {
    padding: 1rem 0rem;
}