<!-- Toolbar -->
<mat-toolbar>
    <!-- Logo and menu -->
    <mat-toolbar-row class="flex-row-spaced-apart">

        <!-- Logo -->
        <div class="flex-center">
            <app-go-back></app-go-back>
            Locations
        </div>

        <!-- Menus -->
        <div class="flex-end">
            <app-locations-summary-menu></app-locations-summary-menu>
        </div>

    </mat-toolbar-row>

</mat-toolbar>

<!-- Show an add item as float action button -->
<div class="fab-container">
    <button mat-fab color="primary"
        (click)="onCreateNewItem()"><mat-icon>add</mat-icon>
    </button>
</div>

<!-- Show inventory -->
<div *ngIf="isLoading; else notLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<ng-template #notLoading>

    <div class="card-list-container"
        *ngIf="locationsSummary; else noItems">
        <mat-card
            class="card-in-list"
            *ngFor="let summary of locationsSummary">
            <mat-card-header>

                <!-- Location icon -->
                <div mat-card-avatar class="icon-in-avatar-container">
                    <mat-icon mat-card-avatar class="icon-in-avatar"
                        [fontIcon]="summary.location.icon"></mat-icon>
                </div>

                <!-- Title -->
                <mat-card-title class="show-pointer"
                    title="{{summary.location.description}}"
                    (click)="onOpenLocation(summary.location)">
                    <span class="no-overflow-everywhere">{{
                        summary.location.name }}</span>
                </mat-card-title>

                <!-- Details -->
                <mat-card-subtitle>

                    <span>
                        Nr. of items:
                    </span>

                    <span class="small-number">
                        <span class="small-label">x</span>
                        {{ summary.itemsNumber}}
                    </span>

                </mat-card-subtitle>
            </mat-card-header>

        </mat-card>
    </div>

    <!-- Empty list -->
    <ng-template #noItems>
        <app-error-card [title]="'No locations found'" [icon]="'error'"
            [content]="'There are no locations in the inventory yet.'">
        </app-error-card>
    </ng-template>

</ng-template>