 <!-- Hidden form to select files -->
<input #fileInput type="file"
    accept="image/gif, image/jpeg, image/png"
    (change)="onFileSelected($event)"
    class="hidden-input">

<!-- Show current image -->
<div class="item-image-container thin-border"
    *ngIf="imagePath && !selectedImage; else addNewImageTemplate">
    <img [attr.src]="imagePath | secureImage | async"
        class="item-image"
        alt="item-image">
    <div class="flex-end">
        <button mat-icon-button
            (click)="fileInput.click()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
            (click)="onDeleteImage()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<!-- New Image Form -->
<ng-template #addNewImageTemplate>

    <!-- Preview -->
    <div class="item-image-container thin-border"
        *ngIf="selectedImage; else addImageForm">
        <img [src]="selectedImage"
            class="item-image"
            alt="selected-image">
        <div class="flex-end">
            <button mat-icon-button
                (click)="onFileDeselected()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>

    <!-- Form -->
    <ng-template #addImageForm>
        <label for="file-input">
            <div class="flex-center">
                <button mat-icon-button class="add-image-button"
                    (click)="fileInput.click()">
                    <mat-icon>add_a_photo</mat-icon>
                </button>
            </div>
        </label>
    </ng-template>

</ng-template>
