.center {
    display: flex;
    align-self: center;
    justify-content: center;
}

.card {
    margin: 1rem;
    max-width: 600px;
    padding: 1rem;
}

.title{
    margin: 1rem;
}

.form {
    min-width: 150px;
    width: 100%;
}

.form mat-form-field {
    width: 100%;
}