<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button (click)="onNavigateBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="isLoading; else notLoading">
    <app-loading-spinner></app-loading-spinner>
</div>

<ng-template #notLoading>

    <div class="error-container"
        *ngIf="initializationError; else itemFormTemplate">
        <div class="error-message">
            <p>{{ initializationError }}</p>
            <button (click)="onNavigateBack()">Go Back</button>
        </div>
    </div>

    <ng-template #itemFormTemplate>

        <div class="center">
            <mat-card align="center" class="card">

                <form class="form" [formGroup]="itemForm"
                    (ngSubmit)="onSubmit()">

                    <mat-card-title class="center title">
                        {{isNewItem ? "Create item" : "Edit item"}}
                    </mat-card-title>

                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput required maxlength="50"
                            formControlName="name">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"
                            maxlength="2000"></textarea>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Number</mat-label>
                        <input matInput required maxlength="50"
                            formControlName="number" type="number">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="categoryId">
                            <mat-option *ngFor="let category of categories"
                                [value]="category.id">
                                {{ category.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="center">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="itemForm.invalid">Submit</button>
                    </div>

                </form>
            </mat-card>
        </div>

    </ng-template>

</ng-template>