.center {
    display: flex;
    align-self: center;
    justify-content: center;
}

.card {
    margin: 1rem;
    max-width: 600px;
    padding: 1rem;
}

.title {
    margin: 1rem;
}

.form {
    min-width: 150px;
    width: 100%;
}

.form mat-form-field {
    width: 100%;
}

.textarea-height {
    min-height: 150px;
}

// Image
.item-image-container {
    max-width: 60rem;
    padding: 10px;
    border: 1px solid #ccc;
}

.item-image {
    width: 100%;
    height: auto;
}

.item-image-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.item-add-new-image-container{
    display: flex;
    justify-content: center;
}