/* You can add global styles to this file, and also import other style files */
@use 'src/styles/alignment.scss';
@use 'src/styles/components.scss';
@use 'src/styles/borders.scss';
@use 'src/styles/interaction.scss';
@use 'src/styles/texts.scss';
@use 'src/styles/icons.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
