.filter-container {
    display: flex;
    justify-content: flex-start;
}

// Buttons
.action-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.action-container button {
    margin: 10px;
}