
<h1 mat-dialog-title>
    Filter
</h1>

<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="onApplyFilters()">
        <div>
            <!-- Filters -->
            <app-text-filter [filterName]="nameFilterName"
                [control]="getFilterControl(nameFilterName)"></app-text-filter>
            <app-text-filter [filterName]="numberFilterName"
                [control]="getFilterControl(numberFilterName)"></app-text-filter>
            <app-text-filter [filterName]="descriptionFilterName"
                [control]="getFilterControl(descriptionFilterName)"></app-text-filter>
            <app-select-filter [filterName]="'category'"
                [control]="getFilterControl(categoryIdFilterName)"
                [options]="categories | generateSelectBoxOptions"></app-select-filter>
            <app-select-filter [filterName]="'location'"
                [control]="getFilterControl(locationIdFilterName)"
                [options]="locations | generateSelectBoxOptions"></app-select-filter>

            <!-- Actions -->
            <div mat-dialog-actions>
                <div class="flex-center full-width">
                    <button mat-raised-button color="accent"
                        (click)="onClearFilters()" *ngIf="filterIsActive">Clear</button>
                    <button mat-raised-button color="primary" type="submit">Filter</button>
                </div>
            </div>
        </div>
    </form>
</div>