.select-items-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.extended-size-row{
    min-height: 80px;
}

// Show button as a mobile app
.fab-container {
    position: fixed;
    bottom: 20px;
    /* Adjust the distance from the bottom */
    right: 20px;
    /* Adjust the distance from the right */
    z-index: 1;
    /* Ensure it's above other elements */
}