<div class="header-container">
    <div class="select-items-container">
        <app-inventory-filter (filterItems)="onFilterItems($event)"></app-inventory-filter>
        <div class="sorter-wrapper">
            <app-inventory-sorter (sortItems)="onSortItems($event)"></app-inventory-sorter>
        </div>
    </div>
    <div class="new-item-container">
        <button class="new-item-button" (click)="onCreateNewItem()">New item</button>
    </div>
</div>
<div *ngIf="isLoading; else notLoading">
    <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
</div>
<ng-template #notLoading>
    <div id="item-list">
        <div *ngFor="let item of items">
            <app-item-in-list [item]="item" (itemDeleted)="onDeleteItem($event)"></app-item-in-list>
        </div>
        <app-loading-spinner [isLoading]="fetchingInProgress"></app-loading-spinner>
    </div>
</ng-template>