.select-items-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.extended-size-row{
    min-height: 80px;
}

.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}