<!-- Toolbar -->
<mat-toolbar>
    <!-- Logo and menu -->
    <mat-toolbar-row class="flex-row-spaced-apart">

        <!-- Logo -->
        <div class="flex-center">
            <app-logo></app-logo>
            Diogenes
        </div>

        <!-- Menus -->
        <div class="flex-end">
            <button mat-icon-button aria-label="Filter" (click)="onOpenFilter()"
                title=Filter>
                <mat-icon>filter_list</mat-icon>
            </button>
            <button mat-icon-button aria-label="Sorter" (click)="onOpenSorter()"
                title=Sort>
                <mat-icon>swap_vert</mat-icon>
            </button>
            <app-inventory-menu></app-inventory-menu>
        </div>
    </mat-toolbar-row>

</mat-toolbar>

<!-- Show an add item as float action button -->
<div class="fab-container">
    <button mat-fab color="primary"
        (click)="onCreateNewItem()"><mat-icon>add</mat-icon>
    </button>
</div>

<!-- Show inventory -->
<div *ngIf="isLoading; else notLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<ng-template #notLoading>

    <!-- Infinite scroll -->
    <div infiniteScroll (scrolled)="onScroll()"
        [infiniteScrollDistance]="0.5"
        [infiniteScrollDisabled]="lastPage" id="item-list"
        *ngIf="items; else noItems">
        <div *ngFor="let item of items">
            <app-item-in-list [item]="item"></app-item-in-list>
        </div>

        <div *ngIf="fetchingInProgress">
            <app-loading-spinner></app-loading-spinner>
        </div>

    </div>

    <!-- Empty list -->
    <ng-template #noItems>
        <app-error-card [title]="'No items found'" [icon]="'error'"
            [content]="'There are no items in the inventory yet.'"></app-error-card>
    </ng-template>

</ng-template>