<!-- Toolbar -->
<mat-toolbar>
    <!-- Logo and menu -->
    <mat-toolbar-row class="flex-row-spaced-apart">

        <!-- Title -->
        <div class="flex-center">
            <app-go-back></app-go-back>
            Items
        </div>

        <!-- Menus -->
        <div class="flex-end">
            <button mat-icon-button
                aria-label="Filter"
                matTooltip="Filter items"
                (click)="onOpenFilter()"
                title=Filter>
                <mat-icon>filter_list</mat-icon>
            </button>
            <button mat-icon-button
                aria-label="Sort"
                matTooltip="Sort items"
                (click)="onOpenSorter()"
                title=Sort>
                <mat-icon>swap_vert</mat-icon>
            </button>
            <app-inventory-menu></app-inventory-menu>
        </div>
    </mat-toolbar-row>

</mat-toolbar>

<!-- Show an add item as float action button -->
<div class="fab-container">
    <button mat-fab color="primary"
        matTooltip="Add new item"
        (click)="onCreateNewItem()"><mat-icon>add</mat-icon>
    </button>
</div>

<!-- Show inventory -->
@if(isLoading){
    <app-loading-spinner></app-loading-spinner>
}
@else {
    
    <!-- Infinite scroll -->
    @if(isItemsListNotEmpty()){
    <div infiniteScroll (scrolled)="onScroll()"
        [infiniteScrollDistance]="0.5"
        [infiniteScrollDisabled]="lastPage" id="item-list"
        class="card-list-container">
        @for(item of items; track item){
            <app-item-in-list [item]="item"></app-item-in-list>
        }

        @if(fetchingInProgress){
            <app-loading-spinner></app-loading-spinner>
        }

    </div>
    }
    <!-- Empty list -->
    @else{
    <app-error-card title="No items found" icon="error"
        content="There are no items in the inventory yet for the given filters.">
    </app-error-card>
    }
}
