<mat-toolbar>
    <mat-toolbar-row>
        <app-go-back></app-go-back>
        <div>
            Locations
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<!-- Show add location as float action button -->
<div class="fab-container">
    <button mat-fab color="primary"
        aria-label="Create location"
        matTooltip="Create location"
        (click)="onCreateNewLocation()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<!-- Show locations -->
@if(locations && locations.length > 0){
    @if(!isLoading){
    <div class="card-list-container">
        <div *ngFor="let location of locations">
            <app-location-in-list [location]="location"></app-location-in-list>
        </div>
    </div>
    }@else {
    <app-loading-spinner></app-loading-spinner>
    }
}
@else {
<app-error-card title="No locations found" icon="error"
    content="You can create a new location for the items.">
</app-error-card>
}
