<mat-toolbar>
    <mat-toolbar-row>
        <app-go-back></app-go-back>
        Edit category
    </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="isLoading; else notLoading">
    <app-loading-spinner></app-loading-spinner>
</div>

<ng-template #notLoading>

    <div *ngIf="initializationError; else categoryFormTemplate">
        <app-error-card [title]="'Category not found'" [icon]="'error'"
            [content]="initializationError"></app-error-card>
    </div>

    <ng-template #categoryFormTemplate>

        <div class="flex-center card-container">
            <mat-card class="card-details">

                <!-- Title -->
                <mat-card-title class="flex-center material-card-title">
                    {{isNewCategory ? "Create category" : "Edit category"}}
                </mat-card-title>

                <form [formGroup]="categoryForm"
                    (ngSubmit)="onSubmit()">

                    <!-- Fields -->
                    <div class="single-row">
                        <div class="color-picker-wrapper">
                            <ngx-colors
                                [formControl]="colorControl"
                                ngx-colors-trigger
                                class="row-item">
                            </ngx-colors>
                        </div>

                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput required maxlength="50"
                                formControlName="name">
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"
                            class="textarea-height"
                            maxlength="2000"></textarea>
                    </mat-form-field>

                    <!-- Button -->
                    <div class="flex-center">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="categoryForm.invalid">
                            {{isNewCategory ? "Create" : "Save"}}
                        </button>
                    </div>

                </form>
            </mat-card>
        </div>

    </ng-template>

</ng-template>