.card {
    margin: 1rem;
    max-width: 70rem;
    min-width: 35rem;
}

.center-card {
    display: flex;
    align-self: center;
    justify-content: center;
}

.item-metadata {
    padding: 10px;
    border: 1px solid #ccc;
}

.no-overflow {
    word-wrap: break-word;
}