#filter-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-group {
    margin-right: 10px;
}

.filter-group input,
.filter-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.filter-group select {
    appearance: none;
    padding-right: 28px;
    cursor: pointer;
    font-size: 14px;
    background-color: white;
    color: #333;
}

.filter-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 14px;
    margin-right: 10px;
}

.filter-secondary {
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
}

.filter-button:hover {
    background-color: #0056b3;
}

.filter-secondary:hover {
    background-color: #0056b3;
    color: #fff;
}


.button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}