<form [formGroup]="form" (ngSubmit)="onApplyFilters()">
    <div class="filter-container">
        <app-text-filter [filterName]="nameFilterName"
            [formControl]="getFilterControl(nameFilterName)"></app-text-filter>
        <app-text-filter [filterName]="numberFilterName"
            [formControl]="getFilterControl(numberFilterName)"></app-text-filter>
        <app-text-filter [filterName]="descriptionFilterName"
            [formControl]="getFilterControl(descriptionFilterName)"></app-text-filter>

        <div class="action-container">
            <button mat-raised-button color="primary" type="submit">Apply Filters</button>
            <button mat-raised-button color="accent"
                (click)="onClearFilters()" *ngIf="filterIsActive">Clear Filters</button>
        </div>
    </div>
</form>