<div class="text-filter-wrapper" *ngIf="filterName && control">

    <mat-form-field>

        <mat-label>{{filterName | capitalizeFirstLetter}}</mat-label>
        <input matInput type="text" [formControl]="control"
            id="filter-{{filterName}}">

        <!-- Display errors -->
        <mat-error
            *ngIf="control.invalid && (control.dirty || control.touched) && control.errors">
            <span *ngFor="let key of control.errors | keys">
                {{ getErrorMessage(key) }}
            </span>
        </mat-error>

    </mat-form-field>

</div>