.filter-group label {
    margin-right: 10px;
    font-weight: bold;
}

.error-message {
    color: #f00;
    font-size: 12px;
}

.error-container {
    padding-top: 0.3rem;
    display: flex;
    flex-direction: column;
}