// This file contains common styling to align items

.flex-center {
    display: flex;
    align-self: center;
    justify-content: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.space-one-line {
    padding-top: 1rem;
}