.small-screen-icon {
    display: inline-block !important;
}

// Center within a mat card avatar, e.g. for locations
.icon-in-avatar {
    padding-left: 0.5rem;
    padding-top: 0.4rem;
}

.icon-in-avatar-container {
    background-color: #000;
}

// Full screen
@media screen and (min-width: 768px) {

    // Show in columns
    .small-screen-icon {
        display: none !important;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 0.5rem;
    }
}