.card {
    margin: 10px;
}

.card:hover {
    border: 1px solid black;
    box-shadow: 8px 8px 2px 1px #7b1fa21a;
}

.card-header {
    cursor: pointer;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
}

.item-number {
    font-size: small;
    margin-left: 5px;
}

.item-number-label {
    font-weight: bold;
    font-size: smaller;
}

.item-image {
    vertical-align: middle;
}