<mat-card class="card-in-list" *ngIf="item">

    <!-- header -->
    <mat-card-header>

        <!-- Category & location -->
        <div mat-card-avatar [style.background-color]="getAvatarColor()"
            class="icon-in-avatar-container">
            <mat-icon mat-card-avatar class="icon-in-avatar"
                [fontIcon]="item.location.icon"
                *ngIf="item.location"></mat-icon>
        </div>

        <!-- Title -->
        <mat-card-title class="show-pointer" (click)="onOpenDetails()"
            title="{{item.description}}">
            <span class="no-overflow-everywhere">{{ item.name }}</span>
        </mat-card-title>

        <!-- Details -->
        <mat-card-subtitle>

            <span>
                {{item.category.name}}
            </span>

            <span class="small-number">
                <span class="small-label">x</span>{{ item.number }}
            </span>

            <!-- Icon -->
            <span *ngIf="item.imagePath">
                <mat-icon
                    class="vertical-align-image small-screen-icon">image</mat-icon>
            </span>

        </mat-card-subtitle>

        <!-- Image only in large screens -->
        <img mat-card-image
            [src]="item.imagePath | secureImage | async"
            alt="Item Image" class="thumbnail-image hide-image-small-screen"
            *ngIf="isLargeScreen && item.imagePath">
    </mat-card-header>

</mat-card>
