.card {
    margin: 10px;
}

.card-header {
    cursor: pointer;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
}

.item-number {
    font-size: small;
    margin-left: 5px;
}

.item-number-label {
    font-weight: bold;
    font-size: smaller;
}
